# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo

# ==========================
# Virtual Environment
# ==========================

.venv/
venv/

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# OS Files
# ==========================

Thumbs.db
.DS_Store

# ==========================
# Test Cache
# ==========================

.pytest_cache/

# ==========================
# Build Files
# ==========================

dist/
build/